body {
    background-color: #212121;
 
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    background-color: #212121;
    padding: 20px; /* Increase padding for better spacing */
  }
  
  .small-container {
    max-width: 900px;
    margin: auto;
    background-color: #333; /* Change background color to a darker shade */
    padding: 20px;
    border-radius: 12px; /* Add border radius for a rounded appearance */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Add a subtle shadow effect */
    overflow: hidden; /* Hide overflowing content */
  }
  
  
  .cart-page {
    margin-top: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 15px;
    text-align: left;
    font-size: 16px; /* Increase font size for table cells */
  }
  
  .cart-info p {
    margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 18px; /* Increase font size for product names */
  }
  
  .small-container {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  input[type="number"] {
    width: 50px;
    height: 30px;
    text-align: center;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #212121;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  /* Style for hover and focus */
  input[type="number"]:hover,
  input[type="number"]:focus {
    border-color: #555;
  }
  
  
  
  .cart-info {
    display: flex;
    align-items: center;
  }
  
  .cart-info img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .cart-info img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
  }
  
  
  .cart-info p {
    margin: 0;
    font-weight: bold;
    color: #fff;
  }
  

  .total-price {
    margin-top: 20px;
    text-align: right;
  }
  
  .total-price table {
    width: auto;
  }
  
  .total-price td:first-child {
    font-weight: bold;
    padding-right: 20px;
  }
  .proceed-to-checkout {
    position: absolute;
    inset : 775px auto  auto 973px ;
    margin-top: 20px; /* Adjust margin for spacing */
  }
  
  .proceed-to-checkout button {
    background-color:#212121; /* Green button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }
  
  .proceed-to-checkout button:hover {
    background-color: white; /* Darken button color on hover */
    color:#000
  }
  