
    .product-title {
      color: #f2f2f2;
      font-size: 36px;
      text-align: center;
      width: 100%;
      margin: 0%;
  }
   .product-title h1{
      
    padding-top: 2%;
    padding-bottom:2% ;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border-radius: 5px;
   } 
   .product-title h1::before {
    content: '__';
    vertical-align:super;
    width: 1%;
    margin-right: 3%;
    height: 10px; 
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #A03232, #FFD576);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
}
.product-title h1::after {
  content: '__';
  vertical-align:super;
  width: 5%;
  margin-left: 3%;;
  height: 10px; 
  transform: translateX(-50%);
  background-image: linear-gradient(to left, #A03232, #FFD576);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent; 
}
body {
  background-color: #212121;
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px; /* Decreased padding for smaller screens */
  font-family: 'Roboto', sans-serif;
}

.book {
  margin: 2%;
  height: 35rem;
  cursor: pointer;
  position: relative;
  color: #fff;
  box-shadow: 0 10px 30px 5px rgba(172, 172, 172, 0.738);
  display: inline-flex;
  background-color: #131313;
  width: calc(25% - 20px); /* Adjusted width for smaller screens */
  border: 2px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.books img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transition: opacity .2s ease-out;
}

.books h2 {
  font-size: medium;
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}

.books p,
.books button,
.books h3 {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

.books p {
  inset: auto auto 80px 30px;
  font-size: small;
}

.books h3 {
  inset: auto auto 40px 30px;
}

.books button {
  inset: auto auto 30px 55%;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1%;
  font-size: medium;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: middle;

}

.books button:hover, .books button:hover i {
  font-style: italic;
}

.book:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset .3s ease-out;
}

.book:hover p,
.book:hover button,
.book:hover h3 {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}
.book img {
  transition: filter 0.8s ease-in-out; /* Transition for filter property */
}

.book:hover img {
  filter: blur(5px); /* Apply blur effect on hover */
}

.book:hover h2 {
  opacity: 0;
}




@media only screen and (max-width: 768px) {
  .books {
      padding: 10px; 
  }
  
  .book {
      width: calc(100% - 20px);
  }
  
 .books  h2 {
      font-size: small; 
  }
  
  .books p {
      font-size: x-small; 
  }

    .product-title h1 {
      width: 80%;
    }
  .product-title *{
    font-size:smaller ;
  }
}

      ::-webkit-scrollbar {
        display: none;
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      body *:not(nav, nav *, footer, footer *, .book *) {
        animation: fadeIn 1.5s ease-in-out; 
      }
      
  .info {
    margin-top: 3%;
    width: 45%;
    height: 500px;
    border-radius: 12px;
    transition: all 300ms;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.493), 0 3px 5px rgba(0, 0, 0, 0.395);
    text-align:center;
  }


@keyframes fadeInOut {
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
  .i1{
    background-color: #333;
    display: block;

  }
  .i2{
    background-color:#FFD576;
    display: none;

  }
  
  .info:hover {
    box-shadow: 0 20px 40px rgb(0, 0, 0), 0 20px 30px rgb(0, 0, 0);
  }
  
  .info img {
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    object-fit: scale-down;
  }
  
  .info .title {
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
  }
.i1 .title{
    color: #e7e7e7;
    font-size: 1.5rem;
    font-weight: normal;


}
.i2 .title{
    color: #333;
    font-size: 1.5rem;
    font-weight: normal;
}
body {
  background-color: #212121;
}
.authors{
  display: block;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width:100%
}
.author{
  display: inline-block;

  font-size: large;
  background-color: #333;
  margin: 3%;
  padding: 2%;;
  width: 20%;
  height: 20rem;
  border-radius: 5px;
  border: solid 10px #4f6fb0;
  color:#fff ;
  box-shadow: #000000 20px 20px 20px;
}
.author:hover{
  box-shadow: #000000 -20px 20px 20px;
}
.a2{
  border: solid 10px #A03232;
}

.a3{
  border: solid 10px #FFD576;
}

.author img{
  width: 20%;
  height: 80px;
  object-fit:fill;
  display: inline-block;
  border-radius: 5px;
  border: solid 5px #4f6fb0;
}
.a2 img{
  border: solid 5px #A03232;
}
.a3 img{
  border: solid 5px #FFD576;
}
.author .short{
  vertical-align: super;
  margin-left: 3%;
  display: inline-block;
}
.author .short{
  font-weight: bold;
  letter-spacing: 2px; 
}
.short p{
  color: #e3e3e3;
  margin: 0;
  top:0;
  margin-top: 1%;
  margin-bottom: 10%;
  font-weight: normal;
  letter-spacing: 1px; 

}
.author .long{
  margin-top: 4%;
  font-size: small;
}
.author i{
  font-size: larger;
}
.author a{
  text-decoration: none;
  color:#c1c1c1;
  font-weight: normal;
  font-style: italic;
}
.horizontal-line {
  width: 100%; 
  height: 1px;
  background-color:#4f6fb0;
  margin: 20px 0; 
}
.a2 .horizontal-line{
  background-color:#A03232;
}
.a3 .horizontal-line{
  background-color:#FFD576;
}