body{
    background-color:#212121;
    
    }
    .product-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    .product-title {
      color: #f2f2f2;
      font-size: 36px;
      text-align: center;
      width: 100%;
      margin: 0%;
  }
   .product-title h1{
      
    padding-top: 2%;
    padding-bottom:2% ;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border-radius: 5px;
   } 
   .product-title h1::before {
    content: '__';
    vertical-align:super;
    width: 1%;
    margin-right: 3%;
    height: 10px; 
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #A03232, #FFD576);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
}
.product-title h1::after {
  content: '__';
  vertical-align:super;
  width: 5%;
  margin-left: 3%;;
  height: 10px; 
  transform: translateX(-50%);
  background-image: linear-gradient(to left, #A03232, #FFD576);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent; 
}
    .product-card {
      background-color: #131313;
        width: calc(25% - 20px); 
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .product-card img {
        width: 100%;
        height: 550px;
        display: block;
    }
    
    .product-info {
        padding: 2%;
        color: #ccc;
    }
    
    
    .product-info p {
        margin: 3%;
    }
    
   
    .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 10%;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      body *:not(nav, nav *, footer, footer *) {
        animation: fadeIn 1.5s ease-in-out; 
      }